*{
    font-family: 'Comic Neue', cursive;
    color: rgb(97, 52, 10);
    width: 100%;
}
body{
    background-color: rgb(214, 238, 149);
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}